// @for $i from 1 through 10
// @for $i from 1 to 10

@for $i from 1 through 10 {
  $dimention: $i * 100;
  .circle-#{$dimention} {
    width: $dimention;
    height: $dimention;
    border-radius: 50%;
  }
}

$dimention: 0;
@for $i from 1 to 10 {
  $dimention: $dimention + 100;
  .square-#{$dimention} {
    width: $dimention;
    height: $dimention;
  }
}
